body {
    position: relative;
    width: 80%;
    margin-top: 3%;
    margin-left: 5%;
}


ol{
    width: 80%;
    position: relative;
    left: 25%;
    line-height: 150%;
}

li {
    margin-bottom: 7%;
}

.pro {
    font-size: 0.9em;
    font-family: Rockwell Extra Bold, Serif;
    color: RebeccaPurple;
}

.sol {
    color: FireBrick;
    font-size: 0.9em;
    font-family: Lucida Sans Typewriter, Monospaced;
    width: 100%;
    text-align: justify;
}

h1 {
    color: blue;
    font-family: Papyrus, Fantasy;
    font-size: 1.1em;
}

label {
    color: orange;
    font-family: Book Antiqua, Serif;
    font-size: 1.1em;
}

section {
    width: 70%;
    text-align: justify;
}
div, .ndisplay {
    width: 70%;
    display: none;
    margin-top: 3%;
}

.ydisplay {
    display: block;
    color: Indigo;
    font-family: ubuntu mono;
    font-size: 0.9em;
    margin-bottom: 3%;
}

.code {
    margin-right: 0.5em;
}

.yrun {
    display: block;
}

img {
  width: 23%;
  height: auto;
}

cite {
  color: darkgreen;
}

p {
  line-height: 150%;
}
