body {
    position: relative;
    width: 80%;
    margin-top: 3%;
}

.title {
    display: block;
    font-weight: bold;
    color: blue;
    font-family: Papyrus, Fantasy;
    font-size: 1.1em;
    margin-bottom: 3%;
}


.slabel {
    color: orange;
}

.code {
    margin-right: 0.2em;
}

ol{
    width: 80%;
    position: relative;
    left: 25%;
    line-height: 150%;
}

pre {
    line-height: 60%;
}

li {
    margin-bottom: 7%;
}

div, .ndisplay {
    display: none;
    margin-top: 3%;
}

.ydisplay {
    display: block;
    color: Indigo;
    font-family: ubuntu mono;
    font-size: 1em;
    line-height: 110%;
    margin-bottom: 3%;
}

a {
    display: block;
    margin-bottom: 2%;
}

img {
    display: block;
    margin-top: 2%;
}


