body {
    position: relative;
    width: 80%;
    margin-top: 3%;
}

.title {
    display: block;
    font-weight: bold;
    color: orange;
    font-family: Papyrus, Fantasy;
    font-size: 1.5em;
    margin-bottom: 0%;
}

label {
    font-weight: bold;
    color:Crimson ;
    font-family: Candara, Sans-serif;
    font-size: 0.8em;
    margin-right: 3%;
}

.question {
    display: block;
    color: darkblue;
    font-size: 0.8em;
    text-align: justify;
}

.code {
    margin-right: 1%;
}

section {
    margin-top: 1%;
}

ol{
    width: 60%;
    position: relative;
    left: 25%;
    line-height: 140%;
}

li {
    margin-bottom: 7%;
}

div, .njdisplay, .nrdisplay {
    display: none;
    margin-top: 3%;
}

.yjdisplay{
    display: block;
    color: Maroon;
    font-family: ubuntu mono;
    font-size: 0.9em;
    line-height: 55%;
    margin-bottom: 3%;
    text-align: justify;
}

.yrdisplay{
    display: block;
    color: CornflowerBlue;
    font-family: ubuntu mono;
    font-size: 0.75em;
    line-height: 150%;
    margin-bottom: 3%;
    text-align: justify;
}

a {
    display: block;
    margin-bottom: 2%;
}

img {
    display: block;
    margin-top: 2%;
}
