<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/ejd</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPass</param-name>
        <param-value>PROG32758</param-value>  <!-- PROG32758  -->
    </context-param>
    <servlet>
        <servlet-name>CsvUpLoad</servlet-name>
        <servlet-class>csv.CsvUpLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CsvUpLoad</servlet-name>
        <url-pattern>/csv.CsvUpLoad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
