body {
    position: relative;
    width: 70%;
    margin-top: 3%;
}

.title {
    display: block;
    font-weight: bold;
    color: blue;
    font-family: Papyrus, Fantasy;
    font-size: 1.1em;
    margin-bottom: 3%;
}

.slabel {
    color: orange;
}

.code {
    margin-right: 0.2em;
}

.cont p {
    line-height: 110%;
    margin-bottom: 1.2%;
    margin-top: 1.2%;
}

ol{
    width: 80%;
    position: relative;
    left: 25%;
    line-height: 100%;
}

.mpre {
    line-height: 70%;
}

li {
    margin-bottom: 7%;
}

div, .ndisplay {
    display: none;
    margin-top: 3%;
    background-color: white;
}

.cont, .ydisplay {
    display: block;
    color: Indigo;
    font-family: ubuntu mono;
    font-size: 1em;
    line-height: 100%;
    margin-bottom: 3%;
}

a {
    display: block;
    margin-bottom: 2%;
}

img {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

table {
  margin-bottom: 1em;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
