body {
    position: relative;
    width: 70%;
    margin-top: 3%;
    margin-left: 5%;
}

h1 {
    color: blue;
    font-family: Papyrus, Fantasy;
    font-size: 1.1em;
}

cite {
  color: #B45BC8;
}

span {
	color: #211849;
    font-family: Verdana;
    font-size: 0.9em;
}

li {
    margin-bottom: 7%;
    line-height: 170%;
}

section {
    width: 60%;
    text-align: justify;
}



/********************************
 *
p {
  line-height: 150%;
}

ol{
    width: 80%;
    position: relative;
    left: 25%;
    line-height: 150%;
}


.pro {
    font-size: 0.9em;
    font-family: Rockwell Extra Bold, Serif;
    color: #663399;
}

.sol {
    color: #b22222;
    font-size: 0.9em;
    font-family: Lucida Sans Typewriter, Monospaced;
    width: 100%;
    text-align: justify;
}

label {
    color: orange;
    font-family: Book Antiqua, Serif;
    font-size: 1.1em;
}

section {
    width: 70%;
    text-align: justify;
}

div, .ndisplay {
    width: 70%;
    display: none;
    margin-top: 3%;
}

.ydisplay {
    display: block;
    color: #4B0082;
    font-family: ubuntu mono;
    font-size: 0.9em;
    margin-bottom: 3%;
}

.code {
    margin-right: 0.5em;
}

.yrun {
    display: block;
}

img {
  width: 23%;
  height: auto;
}

*************************************************/
